.my-profile {
  border: 1px solid #00000014;
  width: 350px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 32px rgb(0 0 0 / 14%);
  margin: 0 auto;
}

.profile {
  height: 80vh;
  display: flex;
  align-items: center;
}
.my-profile-pic {
  width: 80px;
  height: 80px;
}
.my-btn {
  font-weight: 900 !important;
  border: 1px solid #ccc !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  background-color: transparent !important;
  color: #000;
  padding: 10px 16px;
}
