@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-img img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.status_one {
  background-image: url(./assets/pic/s1.jpg);
  object-fit: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  background-size: cover;
}
.status_two {
  background-image: url(./assets/pic/s2.jpg);
  object-fit: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  background-size: cover;
}
.status_three {
  background-image: url(./assets/pic/s3.jpg);
  object-fit: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  background-size: contain;
}
